* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #2e3648;
  --text-color: #1c1c25;
  --text2-color: #535353;
  --second-text-color: #ffffff;
  --bg-color: #f2f8ff;
  --second-bg-color: #ffffff;
  --btn-join-color: #fc9b01;
  --clip-bg-color: #f6f6f6;
  --footer-color: #355592;
}

section {
  width: 65%;
  margin: auto;
}

html {
  font-size: 65%;
  overflow-x: hidden;
}


/* --- Home CSS ---*/
.home-header {
  width: 100%;
  margin: auto;
  background-image: url("./images/hero-man.jpg");
  background-size: cover;
  color: var(--second-bg-color);
}

.navbar-container {
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  color: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 0 17.5%;
}

.navbar {
  display: flex;
  align-items: center;
}

.menu-btn, .menu-icon {
  display: none;
}

.logo {
  cursor: pointer;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--second-text-color);
  margin-left: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.navbar a:hover {
  color: var(--btn-join-color);
  transition: all 0.15s linear;
}

.btn-join-us {
  background-color: var(--btn-join-color);
  color: var(--second-text-color);
  margin-right: 15px;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 15px;
  border: none;
}

.btn-join-us:hover {
  color: var(--btn-join-color);
  background-color: var(--second-text-color);
  transition: all 0.15s linear;
}

.fixedNavbar {
  background-color: var(--footer-color);
  transition: all 1s;
  height: 72px;
}

/* ------------------ */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 100px;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.436);
}
.home-content h3 {
  background-color: var(--footer-color);
  display: inline-block;
  color: var(--second-text-color);
  margin-right: 15px;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 2px 2px 2px black;
}

.buttons {
  font-size: 1.2rem;
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-sign-up {
  background-color: var(--footer-color);
  color: var(--second-bg-color);
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-weight: 950;
  border: none;
}

.btn-sign-up:hover {
  background-color: var(--btn-join-color);
}

.btn-details {
  background-color: rgba(0, 0, 0, 0.183);
  color: var(--second-text-color);
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: solid 1px var(--second-bg-color);
}

.btn-details:hover {
  background-color: var(--btn-join-color);
}

.home-boxes {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
  padding: 0 20.5vw;
  margin-bottom: 20px;
}

.box {
  width: 150px;
  height: 100px;
  margin: 20px 0;
  font-weight: 900;
  text-align: center;
  padding-top: 25px;
  background-color: var(--second-bg-color);
  color: var(--footer-color);
}

.box p {
  color: var(--text-color);
  padding-top: 5px;
  font-size: 15px;
}

/* ---Classes CSS----*/
.classes-container {
  letter-spacing: 0.3px;
  position: relative;
}

.classes-header {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text2-color);
}

.classes-header h1 {
  padding-top: 35px;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--footer-color);
}

.classes-header p {
  font-weight: 950;
  margin-top: 21px;
  letter-spacing: 0.4px;
}

.line {
  margin: auto;
  width: 8%;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 20px;
  border: solid 3px var(--btn-join-color);
  color: var(--btn-join-color);
}

.classes-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-classes {
  position: relative;
  background-color: var(--footer-color);
  color: var(--second-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}

.triangle {
  position: absolute;
  top: 100%;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--btn-join-color);
  transition: 1s;
}

.classes-content {
  display: flex;
  justify-content: center;
  gap: 12%;
  font-weight: bold;
  color: var(--text2-color);
  align-items: center;
  padding: 15px;
  margin: auto;
}

.content-click h2 {
  margin-bottom: 20px;
  font-size: large;
}

.content-click p {
  font-weight: 600;
  margin-bottom: 15px;
}

.img-yoga {
  width: 40%;
}

.yoga-img-clip {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  clip-path: polygon(37% 0, 100% 0, 100% 100%, 55% 100%);
  background-color: var(--clip-bg-color);
}

.classes-container-bmi {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10%;
  color: var(--text2-color);
  align-items: center;
  padding: 50px 0;
  letter-spacing: 0.3px;
}

.classes-content-bmi {
  width: 50%;
  margin-bottom: 40px;
}

.classes-content-bmi h1 {
  color: var(--footer-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.classes-content-bmi p {
  font-weight: 900;
  margin-bottom: 15px;
}

.inputs {
  display: flex;
  font-weight: 400;
  gap: 8px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid var(--text2-color);
}

.label-bmi {
  font-size: 12px;
}

.your-bmi {
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: var(--text-color);
  position: relative;
  margin-bottom: 15px;
}

.img-bmi {
  width: 100%;
}

.bmi-tri {
  position: absolute;
  bottom: -10;
  left: 4%;
  width: 9%;
  height: 12%;
  z-index: -1;
  clip-path: polygon(50% 0%, 11% 100%, 86% 100%);
  background-color: var(--btn-join-color);
  transition: 0.5s;
}

/*--- Trainer CSS ---*/

#trainer{
  padding-top: 40px;
  padding-bottom: 50px;
}

.trainers {
  display: flex;
  background-color: #F1F8FF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3%;
  padding: 0% 20%;
  z-index: 1;
}

.trainer-hero line {
  width: 30%;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 20px;
  border: solid 3px var(--btn-join-color);
   color: var(--btn-join-color);
  padding-left: 50px;
}

.trainer-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3%;
  padding: 0% 20%;
  
}

.trainer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  color: var(--text-color);
  padding: 2% 2%;
  gap: 10px;
}

.trainer-info h1 {
  color: #355592;
  font-size: x-large;
}

.trainer-info p {
  color: black;
  font-size: x-small;
  margin-bottom: 30px;
}

.trainer-info h1::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 75px;
  background-color: var(--second-color);
  border-radius: 5px;
}

.trainer-cards {
  font-size: medium;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12%;
  padding: 2% 20%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  border: solid 2px var(--second-color);
  border-radius: 7px;
  position: relative;

}

.trainer-cards .cards img {
  width: 300px;
  height: 100%;
  border-radius: 7px;
  z-index: 3;
}

.cards::before {
  content: "";
  width: 100%;
  height: 104%;
  background: var(--footer-color);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%) scaleX(0.3);
  transition: all 0.3s ease 0s;
}

.cards::after {
  content: "";
  width: 106%;
  height: 104%;
  background: var(--footer-color);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scaleY(0.25);
  transition: all 0.3s ease 0s;
}

.cards:hover::before {
  transform: translateY(-50%) scaleX(0.6);
}

.cards:hover::after {
  transform: translate(-50%, -50%) scaleY(0.6);
}

.cards:hover img::after {
  content: "";
  width: 100px;
  height: 1000px;
  background: var(--main-color);
  position: absolute;
  z-index: 2;
}

.trainer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--footer-color);
  color: #fff;
  width: 280px;
  height: 150px;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  position: absolute;
  top: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.5 ease 0.5s;
}

.trainer-cards .cards:hover .trainer-content {
  visibility: visible;
}

/*--- Trainer CSS ---*/

/*--- Purchase  CSS ---*/
.purchase {
  width: 100%;
}

.purchase-container {
  width: 65%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.purchase-container h1 {
  padding-top: 20px;
  margin-bottom: 10px;
  color: var(--footer-color);
  font-size: 20px;
}

.purchase-container p {
  font-weight: 900;
  letter-spacing: 0.3px;
}

.purchase-boxes {
  display: flex;
  padding-bottom: 30px;
  gap: 2%;
  padding-top: 30px;
}

.purchase-card {
  width: 30%;
  border: solid 1px rgba(0, 0, 0, 0.178);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.purchase-card:hover {
  width: 35%;
}

.purchase-card img {
  width: 100%;
  border-radius: 5px;
}

.first {
  font-size: 16px;
  font-weight: lighter;
}

del {
  text-decoration: line-through;
}

.shop {
  display: flex;
  justify-content: start;
  gap: 15%;
  width: 100%;
  align-items: center;
  font-size: 12px;
  padding: 20px 20px;
}
/*--- Review CSS ---*/

.review {
  width: 100%;
  background-color: var(--bg-color);
}

.review-container {
  width: 65%;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
  color: var(--text2-color);
}

.review-container h1 {
  padding-top: 40px;
  margin-bottom: 10px;
  color: var(--footer-color);
  font-size: 20px;
  text-align: center;
}

.review-container p {
  font-weight: 900;
  margin: 10px 10px;
  color: black;
}

.review-p {
  text-align: center;
  letter-spacing: 0.3px;
}

.review-clients {
  display: flex;
  gap: 10%;
  margin-top: 30px;
}

.review-clients img {
  border-radius: 50%;
  width: 20%;
}

.client1, .client2 {
  display: flex;
}

.comment {
  position: relative;
  background-color: var(--footer-color);
  text-align: start;
  padding: 3px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.comment::after {
  position: absolute;
  content: "";
  clip-path: polygon(100% 0, 1% 0, 100% 100%);
  background-color: #788ec2a1;
  width: 2rem;
  height: 2rem;
  top: 100%;
  left: 0;
}

.comment::before {
  position: absolute;
  content: "";
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #788ec2a1;
  width: 2rem;
  height: 2rem;
  top: 100%;
  right: 0;
}

.comment p {
  color: white;
}

/*--- Contact CSS ---*/
.contact {
  width: 100%;
  background-color: var(--second-bg-color);
}

.contact-container {
  width: 65%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text2-color);
  letter-spacing: 0.3px;
}

.contact-container h1 {
  padding-top: 40px;
  margin-bottom: 10px;
  color: var(--footer-color);
  font-size: 20px;
}

.contact-container p {
  font-weight: 900;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.info {
  text-align: start;
  font-size: 10px;
}

.no-email {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.i-title {
  font-size: 14px;
  letter-spacing: 0.4px;
}

label {
  font-size: 16px;
}

.appointment input,
textarea {
  width: 100%;
  margin: auto;
  display: block;
  margin: 10px 0;
  border: none;
  font-size: 10px;
  color: #7a7b7d;
  padding: 10px;
  border-radius: 5%;
  background-color: var(--bg-color);
}

textarea {
  width: 100%;
  height: 80px;
}

.map {
  width: 80%;
}

iframe {
  width: 100%;
  height: 100%;
}

/*--- Footer CSS ---*/
.footer {
  width: 100%;
  margin: auto;
  background-color: var(--footer-color);
}

.footer-container {
  width: 65%;
  margin: auto;
  text-align: start;
  margin-bottom: 20px;
  color: var(--second-bg-color);
  padding-bottom: 40px;
}

.footer-logo p {
  font-weight: 700;
}

.footer-logo img {
  width: 15%;
}

.footer-inf-links {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  padding-top: 20px;
  list-style-type: none;
  font-size: 13px;
  color: white;
}
li .a {
  font-size: 10px;
  padding: 4px;
}


@media screen and (max-width: 576px) {
  
  .navbar {
    position: absolute;
    transform: translateY(-400%);
  }
  
  .menu-btn:checked ~ .navbar {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(0);
    background: var(--footer-color);
    box-shadow: 1 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 1s linear;
  }
  
  .menu-btn:checked ~ .navbar a {
    display: block;
    font-size: 1.5rem;
    margin: 5rem 0;
    padding: 0 2rem;
  }
  
  .menu-btn:checked ~ .navbar button {
    display: block;
    font-size: 1.5rem;
    margin: 2rem 19rem;
    padding: 0rem 2rem;
  }
  
  .menu-icon {
    display: block;
    font-size: 3rem;
    color: var(--second-bg-color);
    cursor: pointer;
  }

  section {
    width: 80%;
    margin: auto;
  }

  .buttons {
    display: block;
  }
  
  .btn-sign-up {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .btn-details {
    width: 100%;
  }
  
  .home-boxes {
    display: block;
    width: 100%;
    padding: 2rem 8%;
  }
  
  .box {
    width: 100%;
    justify-content: center;
  }

  .classes-header p {
    font-size: 12px;
  }
  .classes-content {
    display: block;
    width: 100%;
    font-size: 12px;
  }
  
  .img-yoga {
    width: 100%;
  }
  
  .img-bmi {
    width: 100%;
  }
  
  .bmi-tri {
    width: 8%;
  }
  
  .classes-container-bmi {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .classes-content-bmi {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    font-size: 12px;
  }
  
  .inputs {
    display: block;
    width: 100%;
  }
  
  input {
    width: 80%;
    justify-content: center;
  }
  
  /* .trainer-container p {
    font-size: 12px;
  }
  
  .trainer-boxes {
    display: block;
    width: 100%;
  }
  
  .trainer-box {
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
  } */

  /* TRAİNER SECTİON START*/

  .trainers {
    padding: 2% 1%;
}

.trainer-hero {
    padding: 2% 1%;
}

.trainer-cards {
    gap: 5%;
    padding: 2% 2%;
    flex-wrap: wrap;
}

.cards {
    margin: 2% 1%;
}

/* TRAİNER SECTİON END*/

  /* deneme */
  
  .purchase-container p {
    font-size: 12px;
    font-weight: 500;
  }
  
  .purchase-boxes {
    display: block;
    width: 100%;
  }
  
  .purchase-card {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .purchase-card:hover {
    width: 110%;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .shop {
    justify-content: start;
    gap: 30%;
    width: 100%;
    align-items: center;
    font-size: 14px;
    padding: 20px 20px;
  }
  
  .review-container {
    width: 80%;
    margin: auto;
  }
  
  .review-p {
    font-size: 12px;
  }
  
  .review-clients {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .contact-container {
    width: 100%;
  }
  
  .p-container {
    font-size: 12px;
    width: 80%;
    margin: auto;
  }
  
  .info-container {
    width: 80%;
    margin: auto;
    display: block;
  }
  
  .info {
    width: 100%;
    margin: auto;
  }
  

  .no-email {
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .i-title {
    font-size: 16px;
  }
  
  label {
    font-size: 18px;
  }
  
  .map {
    width: 100%;
    margin: auto;
  }
  
  .footer-logo img {
    width: 40%;
  }
  
  .footer-container {
    width: 80%;
    margin: auto;
    text-align: start;
    margin-bottom: 20px;
    color: var(--second-bg-color);
    padding-bottom: 30px;
  }
  
  .footer-inf-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  }
  
  li {
    font-size: 12px;
    padding: 4px;
  }
}
